*{
 /* margin: 0%;    */
 /* padding-left: 0%; */
 width: 100%;
 /* box-sizing: border-box; */
}
body{
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    background: #dcdcdc;
}
.container{
    position: relative;
    width: 1200px;
    /* border-radius: 10px; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    padding-top: 50px;
}
.product-name {
    background-color: rgb(201, 189, 189);
    padding: 1px;
    font-size: 15px;
    font: bolder;
    text-align: center;
    margin-top: 5px;
    border-radius: 15px;
}
.container .cart{
    width: 100%;
    background: rgb(194, 184, 184);
    border: 2px solid red;
}
.container .cart .imgBox{
    position: relative;
    width: 100%;
    height: 310px;
    overflow: hidden;
}
.container .cart .imgBox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
img{
    border-radius: 20px;
}
.price{
    margin-left: 20px;
}
#link{
    color: red;
}